{% extends  'base.html' %}

{% block title %}
История
{% endblock %}

{% block body %}
<div class="container">
    <h1>История создания</h1>
</div>
<div class="container" style="text-align:  justify;">
    <h3 style="margin-bottom: 15px">12 августа 1912 года был учрежден Штат воздухоплавательной части Генерального штаба русской армии</h3>
    <p style="margin-bottom: 30px">
        В истории российской военной авиации немало славных страниц − становление в
        дореволюционные годы, прорывы первых пятилеток, героизм Великой
        Отечественной, «холодное» послевоенное противостояние и восстановление после
        распада СССР. Военные успехи каждого из этих периодов неотделимы от успехов
        авиастроителей. Многие предприятия, сегодня работающие в составе Ростеха,
        внесли свою лепту в становление отечественной военной авиации и продолжают
        обеспечивать ВВС России лучшими образцами авиатехники.
    </p>
    <h2>У истоков воздушного флота</h2>
    <p>
        Интересный факт: первое военное применение авиации в Российской империи могло
        состояться в ходе Бородинской битвы 1812 года. Тогда проект немца Ф. Леппиха в
        виде боевых аэростатов в прямом смысле не взлетел, и еще долгое время такое
        ведение войны в наших широтах считалось как минимум неблагородным. Только в 1885
        году при Главном инженерном управлении формируется первая штатная команда
        воздухоплавателей, и военное воздухоплавание становится частью славного русского
        войска.
    </p> .
    <p> В 1904 году в Русско-японскую войну воздушные шары впервые участвуют в боевых
        действиях − в качестве средств разведки и наблюдения. В дальнейшем
        военачальники все больше задумываются об охране воздушных границ и неба над
        страной. Стоит отметить, что один из первых натурных самолетов в мире был
        создан именно в России военным и изобретателем Александром Можайским еще в 1882
        году. А в 1904 году при содействии профессора Николая Жуковского открывается в
        Подмосковье первый в Европе Аэродинамический институт.
    </p>
    <p style="margin-bottom: 30px"> Таким образом, к моменту, когда 12 августа 1912 года военная авиация перешла в
        ведомство Генерального штаба и была сформирована специальная воздухоплавательная
        часть, история военной авиации в нашей стране насчитывала уже несколько десятков
        лет. В 1913 году российская авиация была окончательно отделена от
        воздухоплавания и насчитывала 263 самолета.
    </p>
    <p style="margin-bottom: 30px"><img alt="1920px_Sikorsky_Ilia_Muromets_S_27_type_E_Yeh_2_5959302372_grayscale.jpg"
                                        src="https://rostec.ru/upload/medialibrary/d14/d14c4e854474ad9b24c3567b64438a64.jpg"><br>
    </p>
    <p>
        Начало Первой мировой войны стало стимулом к укрупнению и реорганизации военной
        авиации. Заведовал организацией авиационного дела тогда сам великий князь
        Алексей Михайлович Романов. В 1914 году авиация была разделена на тяжелую и
        легкую, разворачивается воздушная оборона. Самолет «Илья Муромец» стал первым
        русским тяжелым бомбардировщиком.Истребительная авиация, как отдельный род
        войск, была сформирована к 1916 году. В эти годы набирает славу русская школа
        воздушного боя, пионером которой стал знаменитый пилот Петр Нестеров.
    </p>
    <p style="margin-bottom: 30px">
        К началу Гражданской войны в военно-воздушном флоте уже сложилась разветвленная
        структура и были заложены основы будущих родов авиации. В составе Красной
        армии за годы противостояния участвовало около 2,5 тыс. самолетов. После
        поражения белых сил большинство летчиков эмигрировали за границу, авиапарк
        значительно пострадал.<br>
    </p>
    <h2>Первые годы советской власти и Великая Отечественная война</h2>
    <p style="margin-bottom: 30px">
        В первые десятилетия советской власти военная авиация переживает бурный рост.
        Восстанавливается и расширяется производство, создаются первые полностью
        отечественные самолеты − истребители, разведчики, бомбардировщики. Растет роль
        противовоздушной обороны. В эти годы стартует карьера прославленных
        авиаконструкторов − Н.Н. Поликарпова, А.Н. Туполева, П.О. Сухого, А.С.
        Яковлева, С.А. Лавочкина, С.В. Ильюшина, В.М. Петлякова, А.И. Микояна и М.И.
        Гуревича. Свои первые авиационные двигатели создает В.Я. Климов.
    </p>
    <p style="margin-bottom: 30px">
        <img alt="Поликарпов и его «небесный тихоход»"
             src="https://rostec.ru/upload/iblock/751/751d686af87cce0638d22546059b5195.jpg"><br>
    </p>
    <p>
        1920-30-е годы − время рекордов в мировой авиации: это и первый
        межконтинентальный перелет, и первый трансатлантический, и первый
        трансарктический перелеты – и многие из них были поставлены советскими
        пилотами и экипажами. Формируется система подготовки и обучения летных кадров в
        масштабах всей страны.
    </p>
    <p style="margin-bottom: 30px">
        В самом начале Великой Отечественной войны ВВС Красной армии понесли большие
        потери, но несмотря на это сумели сохранить боевой дух и восстановиться. С
        первых дней пилоты массово проявляли невероятный героизм, совершая тараны и
        дерзкие атаки. Уже в июле 1941 года начинаются бомбардировки аэродромов
        противника, а в августе и его глубоких тылов. Истребители и зенитная
        артиллерия ПВО успешно защищают Москву и Ленинград от авианалетов гитлеровцев.
    </p>
    <p style="margin-bottom: 30px">
        <img alt="il2_3.jpg"
             src="https://rostec.ru/upload/medialibrary/999/999646c0d966f7c1e775977b2b3ec359.jpg"><br>
    </p><a name="#middle"></a>
    <p>
        С началом войны большинство авиационных предприятий европейской части страны
        было эвакуировано, процесс затронул сотни заводов и КБ, миллионы человек. В
        тяжелейших условиях в короткие сроки удалось пополнить ВВС новыми машинами −
        истребителями Як-7б, Як-9, Ла-5, штурмовиками Ил-2, а также значительно
        увеличить выпуск успешных моделей. К середине 1943 года ВВС Красной армии смогли
        переломить превосходство противника в воздухе, и это стало огромной победой не
        только военных, но и авиационной промышленности.
    </p>
    <p style="margin-bottom: 30px">
        К концу войны советский авиапром представлял собой передовую отрасль, идеально
        отлаженный механизм, выпускавший до 100 и более самолетов в сутки. Всего же за
        годы войны в СССР было создано более 115 тыс. самолетов. Великая Отечественная
        война подтвердила решающее значение военной авиации, а победа в ней стала
        подлинным триумфом советского авиастроения.<br>
    </p>
    <h2>Послевоенные годы и золотая эпоха авиации </h2>
    <p style="margin-bottom: 30px">
        Развитие ВВС в послевоенные годы проходило под знаком холодной войны. В это
        время было создано большое количество новой техники, сформировались
        принципиально новые подходы к ее разработке, появились новые направления. Первые
        послевоенные годы ознаменовались переходом от поршневой к реактивной авиации. В
        1946 году создаются первые реактивные самолеты − истребители МиГ-9 и Як-15. За
        ними следует целый ряд новой реактивной техники − истребители МиГ-15, Ла-15, Як-23,
        бомбардировщики Ил-28, Ту-14. Вырастает количество авиационных КБ и
        НИИ, и в целом увеличивается доля научной составляющей в авиастроении.
    </p>
    <p style="margin-bottom: 30px">
        <img alt="MIG-15_170326_04.jpg"
             src="https://rostec.ru/upload/medialibrary/a63/a6391053858f7fb6f74a645464d0b370.jpg"><br>
    </p>
    <p>
        С появлением первых ядерных бомб ставится задача по созданию тяжелых
        бомбардировщиков, выпускаются такие стратегические и дальние бомбардировщики,
        как М-4/3М, Ту-95, Ту-16. В начале 1950-х годов появляются первые серийные
        вертолеты для военных целей. После завершения войны многие заводы
        переориентируются на гражданскую технику, причем нередко пассажирские самолеты
        разрабатываются на основе военных.
    </p>
    <p style="margin-bottom: 30px">
        В период правления Н.С. Хрущева упор делается на развитие ракетного вооружения,
        что приводит к сокращению производства бомбардировщиков. Многие авиационные КБ и
        заводы переводятся на ракетную тематику, что не могло не сказаться на новых
        разработках в авиации. Тем не менее в 1950-е годы создается целый ряд самолетов
        нового поколения: МиГ-21, Су-7, Су-9, Як-28.
    </p>
    <h6 style="margin-bottom: 30px"><img alt="MG_0888-2_(7099456579).jpg"
                                         src="https://rostec.ru/upload/medialibrary/422/4226dc68977f6034bea69da04722e411.jpg">
    </h6>
    <p>
        1960-е годы ознаменовались появлением большого количества принципиально новой
        техники: самолеты вертикального взлета и посадки Як-36 и Як-38, истребитель с
        крылом изменяемой стреловидности МиГ-23, гигант Ан-22 «Антей», самолеты-амфибии
        ОКБ Г.М. Бериева. Основу советских военно-воздушных сил и ВВС стран восточного
        блока тогда составляли истребители-бомбардировщики МиГ-27, МиГ-23, МиГ-25,
        Су-17.
    </p>
    <p style="margin-bottom: 30px">
        1970-80-е годы принято считать золотой эпохой в истории отечественной
        авиации. В это время создаются военные самолеты и вертолеты, которые до сих пор
        применяются во многих странах. Продолжая удерживать паритет между войсками НАТО
        и военными силами стран участниц Варшавского договора, Советский Союз
        создает новые поколения военной авиатехники: бомбардировщик Су-24,
        штурмовик Су-25 и его модификации, истребители МиГ-31, МиГ-29, Су-27,
        стратегический бомбардировщик Ту-160, сверхтяжелый транспортник Ан-124. В эти
        годы СССР производит больше военных самолетов, чем США, Великобритания и
        Франция, вместе взятые.
    </p>
    <p>
    </p>
    <h2>На защите новой России</h2>
    <p>
        Еще в конце 1980-х годов правительством СССР был взят курс на сокращение
        вооружения, а распад Союза привел к практически полной остановке производства
        военной авиатехники. Большинство предприятий лишились государственных заказов и
        выживали, как могли: переходили на гражданскую продукцию, отправляли технику на
        экспорт. Одновременно с этим сокращался состав ВВС.
    </p>
    <p style="margin-bottom: 30px">
        Однако государство, как и раньше, нуждалось в защите границ, в мощной и
        современной авиации. С наступлением 2000-х годов начинаются обратные процессы − кропотливое
        восстановление войск и оборонно-промышленного комплекса. В 2006 году указом
        президента создается Объединенная авиастроительная корпорация (ОАК), в состав
        которой входят практически все авиазаводы страны. Ее задачей обозначается
        восстановление российского авиапрома. В 2007 году вертолетные предприятия страны
        объединяются в холдинг «Вертолеты России» в составе Госкорпорации Ростех. С 2004
        по 2009 год объем финансирования отрасли увеличивается в 20 раз. В 2009 году
        объем закупок авиатехники Министерством обороны РФ приблизился к показателям
        времен Советского Союза.
    </p>
    <p style="margin-bottom: 30px">
        <img src="https://rostec.ru/upload/iblock/82a/82a27ee5b56db8c79a997faaac2a874c.jpg"><br>
    </p>
    <p>
        Техническое перевооружение ВВС началось с поступления в войска
        истребителя-бомбардировщика поколения 4++ Су-34. На смену устаревшей технике
        поступают новые модификации и современные самолеты и вертолеты: многоцелевые
        истребители Су-35 и Су-30СМ, модификации истребителя-перехватчика МиГ-31,
        транспортник нового поколения Ил-76МД-90А, модификации вертолета Ми-8,
        многоцелевой вертолет Ми-38, боевые вертолеты Ми-28 и Ка-52. В 2010 году впервые
        в небо поднимается ПАК ФА, будущий истребитель пятого поколения Су-57.
    </p>
    <p style="margin-bottom: 30px">
        В 2020 году ОАК была интегрирована в Госкорпорацию Ростех. Кроме ОАК и
        «Вертолетов России» активное участие в реализации авиационной части
        гособоронзаказа принимают Объединенная двигателестроительная корпорация − поставщик
        силовых установок и другие холдинги и предприятия в контуре управления
        Ростеха.
    </p>
    <p style="margin-bottom: 30px">
        <img src="https://rostec.ru/upload/iblock/460/460813bc96d18957ff3d46c25783d91f.jpg"><br>
    </p>
    <p style="margin-bottom: 30px">
        В 2015 году ВВС включаются в Воздушно-космические силы РФ. Сегодня в состав ВВС
        входит дальняя, военно-транспортная, оперативно-тактическая и армейская авиация.
        По численности авиапарка и личного состава ВВС России занимают второе место в
        мире после ВВС США. Современная военная авиация России охраняет границы Родины,
        защищая ее целостность, выполняет боевые задачи в горячих точках, участвует в
        учениях и ликвидации природных катастроф. Российский авиапром развивает новые
        военные направления, например беспилотную технику, продолжается обновление
        и модернизация авиапарка ВВС.
    </p>        <a name="#end"></a></div>
{% endblock %}