{% extends  'base.html' %}

{% block title %}
Боевые единицы
{% endblock %}

{% block body %}
<div class="container" style="text-align:  justify;">
    <div class="container">
        <h1>Боевые единицы</h1>
    </div>
    <div class="container"><p style="margin-bottom: 30px">В течение года Воздушно-космические силы России пополнялись
        самолетами фронтовой авиации
        Су-35С,
        Су-34 и Су-57, а также стратегическими МиГ-31И и Ту-160М. Многие из них активно задействуются в специальной
        военной операции на Украине. Каковы достоинства этих самолетов и насколько они соответствуют
        требованиям времени.</p>

        <h2>Самый ожидаемый — <strong>Су-57</strong></h2>
        <p>Самый ожидаемый современный российский самолет — многоцелевой истребитель пятого поколения
            ПАК ФА (перспективный авиационный комплекс фронтовой авиации) Су-57. Сборка машин этого типа
            ведется на новой поточной линии Комсомольского-на-Амуре авиационного завода имени Гагарина.</p>
        <p style="margin-bottom: 30px">К концу года предприятие передало ВКС России очередную партию, установив
            своеобразный рекорд: судя
            по информации из открытых источников, в 2023 году предприятие произвело не менее десяти Су-57. С учетом
            того, что столько же машин было передано в ВКС России и за несколько предыдущих лет серийного производства
            (в
            том числе шесть машин в 2022 году), это очень серьезный успех дальневосточных самолетостроителей.</p>
        <div class="layer-156899108290698944 init">
            <div id="adfox_156899108290698944_1628157">
                <div id="yandex_rtb_1671654685" class="UZznxc yandex_rtb_R-A-280918-6">
                    <div class="ne1e8e7af m1dd64e65">
                        <div class="e508c04d2"></div>
                        <div class="uf6421d22 ea9af2729 v8fb75956">
                            <div class="l51b1e865">
                                <div id="ya_partner_R-A-280918-6-1533235377" class="b676cb4d2">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-block2__inside__item big_img_block">
        <div id="1426191" class="slider-block2__inside__item__content">
            <p style="text-align: center;">
                <img src="//cdn.iz.ru/sites/default/files/styles/1065xh/public/photo_item-2023-12/RIA_6597789.HR_.jpg?itok=7KywMrt9"
                     width="1065" height="700" alt="Многофункциональный истребитель пятого поколения Су-57 ">
            </p>

            <div style="text-align: center;">
                <p style="font-weight: 700;">Многофункциональный истребитель пятого поколения Су-57</p>
            </div>

        </div>
    </div>

    <div class="container" style="margin-bottom: 30px">
        <p>Объединенная авиастроительная корпорация (ОАК) рапортовала о том, что на заводе завершается техническое
            перевооружение, и темпы производства в 2024 году могут еще вырасти.</p>
        <p style="margin-bottom: 30px">Новый самолет может выполнять как ударные миссии с ракетами большой дальности
            типа Х-69 и им
            подобным, так и вести воздушный бой с любыми современными самолетами. Согласно сообщениям Министерства
            обороны, Су-57 участвуют в специальной военной операции на территории Украины</p>


        <h2>Самый массовый — <strong>Су-35С</strong></h2>
        <p>24 ноября ОАК передала Министерству обороны очередную партию Су-35С — самого массового
            многофункционального истребителя ВКС России, лучшего в мире самолет поколения 4++. Его производством также
            занимается дальневосточный завод в Комсомольске-на-Амуре.</p>
        <p>Сегодня Су-35С — это настоящая рабочая машина, которая несет боевое дежурство в зоне СВО. На нее
            ложится работа по воздушным целям, которые могут быть обнаружены силами ПВО, также эти самолеты используются
            для
            применения сверхзвуковых противорадиолокационных ракет Х-31 и дозвуковых ударных Х-59М. Эти ракеты
            применяются в том числе в режиме боевого дежурства по только что обнаруженным целям — таким образом, Су-35С
            работает в непосредственной связке с силами разведки и с самолетами дальнего радиолокационного обнаружения
            типа
            А-50.</p>
    </div>
    <div class="slider-block2__inside__item big_img_block">
        <div id="1426192" class="slider-block2__inside__item__content">
            <p style="text-align: center;">
                <img src="//cdn.iz.ru/sites/default/files/styles/1065xh/public/photo_item-2023-12/sqho8y51pbe3gx6xxksccbt47l80k8mn.jpeg.jpg?itok=7CgQrKy6"
                     width="1065" height="700" alt="Многоцелевой истребитель Су-35С">
            </p>


            <div style="text-align: center;">
                <p style="font-weight: 700;">Многоцелевой истребитель Су-35С</p></div>

        </div>
    </div>

    <div class="container">
        <p style="margin-bottom: 30px">Кооперация предприятий, которые сегодня выпускают Су-35С, скорее всего,
            постепенно переключается на
            производство
            более технологически сложного Су-57. Но, как видим, темпы выпуска Су-35С не снижаются — эта машин а
            востребована как в российских ВКС, так и для поставок на экспорт.</p>
        <div class="layer-156899108290698944 init">
            <div id="adfox_156899108290698944_1628157_2" style="position: relative;" class="">
                <div class="unit-101078">
                    <div id="adfox_156899108290698944"></div>
                </div>
            </div>
        </div>
        <h2>Самый «передовой» — <strong>Су-34</strong></h2>
        <p>Наиболее опасные ударные миссии на переднем краю линии боевого соприкосновения — основная функция
            фронтового бомбардировщика Су-34. Его обновленная модификация производится на Новосибирском авиационном
            заводе имени Чкалова (входит в ОАК).</p>
        <p style="margin-bottom: 30px">В течение 2023 года ВКС России получили как минимум три партии Су-34. Судя по
            всему, таким
            образом закрывается дополнительный контракт на 24 улучшенных самолета, который ОАК и Минобороны подписали в
            2020 году.
        </p>
    </div>
    <div class="slider-block2__inside__item big_img_block">
        <div id="1426196" class="slider-block2__inside__item__content">
            <p style="text-align: center;">
                <img src="//cdn.iz.ru/sites/default/files/styles/1065xh/public/photo_item-2023-12/MAKS2015part1-10_%28cropped%29.jpeg.jpg?itok=54UngkM7"
                     width="1065" height="700"
                     alt="Многофункциональный фронтовой сверхзвуковой истребитель-бомбардировщик Су-34">
            </p>


            <div style="text-align: center;">
                <p style="font-weight: 700;">Многофункциональный истребитель-бомбардировщик Су-34</p></div>
        </div>
    </div>

    <div class="container">
        <p style="margin-bottom: 30px">В 2023 году именно на самолетах Су-34 мы видели применение нового типа
            управляемых боеприпасов —
            обычных фугасных бомб калибра 500 кг с унифицированным модулем планирования и коррекции (УМПК), которые
            обеспечивают их высокоточное применение по целям с известными координатами. Такой тип боеприпасов в десятки
            раз
            повышает эффективность боевой работы самолетов. Кроме бомб с УМПК, Су-34 применяют ракеты типа
            Х-59М, неуправляемые ракеты и весь ассортимент авиационных средств поражения.</p>

        <h2>Самый «кинжальный» — <strong>МиГ-31И</strong></h2>
        <p>МиГ-31И — это дальний истребитель-перехватчик МиГ-31, модернизированный для использования
            гиперзвуковой ракеты «Кинжал». Самолет оснащается новым, необычным для МиГ узлом подвески, который позволяет
            нести и применять достаточно тяжелую ракету массой в несколько тонн. Причем ее пуск происходит на скоростях
            до
            двух скоростей звука — это огромная нагрузка на связку «самолет – ракета».</p>

        <p style="margin-bottom: 30px">МиГ-31И входят в состав отдельных эскадрилий Дальней авиации ВКС России. Такое
            организационное решение вызвано, прежде всего тем, что «Кинжал» решает боевые задачи стратегического уровня.
            То
            есть этими ракетами наносятся удары по наиболее важным целям в глубине обороны противника — по узлам
            принятия
            решений, производственным и складским центрам, авиационным базам.</p>
    </div>
    <div class="slider-block2__inside__item big_img_block">
        <div id="1426203" class="slider-block2__inside__item__content">
            <p style="text-align: center;">
                <img src="//cdn.iz.ru/sites/default/files/styles/1065xh/public/photo_item-2023-12/TASS_52552280.jpg?itok=EVsWwaUI"
                     width="1065" height="700" alt="Истребитель МиГ-31И  ">
            </p>


            <div style="text-align: center;">
                <p style="font-weight: 700;">Истребитель МиГ-31И</p></div>
        </div>
    </div>

    <div class="container">
        <h2>Самый флагманский — <strong>Ту-160М</strong></h2>
        <p>Ту-160М — это флагман нашей авиации. В сентябре 2023-го министр обороны Сергей Шойгу сообщил,
            что до конца года в Вооруженные силы России должны быть переданы четыре боевые машины — новые и
            модернизированные. Ту-160М заново и «с нуля» собирает Казанский авиационный завод. Уже как
            минимум два самолета этого типа были построены и оснащены новыми двигателями НК-32. И еще две машины прошли
            модернизацию до уровня Ту-160М из числа самолетов, построенных в 1980–1990-е годы.</p>


        <p style="margin-bottom: 30px">Ту-160М могут нести все типы самых современных крылатых ракет — неядерные Х-101
            и, видимо, суперсовременные
            Х-БД. Самолеты оснащены новой электроникой и комплексом радиоэлектронного противодействия.</p>
    </div>
    <div class="slider-block2__inside__item big_img_block">
        <div id="1426205" class="slider-block2__inside__item__content">
            <p style="text-align: center;">
                <img src="//cdn.iz.ru/sites/default/files/styles/1065xh/public/photo_item-2023-12/py15hkybpm7nlql195udbvoh3tfh7ypu.jpeg.jpg?itok=7_O1hksr"
                     width="1065" height="700" alt="Модернизированный ракетоносец Ту-160М">
            </p>


            <div style="text-align: center;">
                <p style="font-weight: 700;">Модернизированный ракетоносец Ту-160М</p></div>
        </div>
    </div>

    <div class="container">
        <p style="margin-bottom: 30px">На недавней коллегии Министерства обороны информация о передаче в ВКС России
            четырех Ту-160М была
            подтверждена.
            Кроме того, были озвучены планы о передаче еще двух Ту-160М в 2024 году. Таким образом, перевооружение
            стратегической авиации на обновленные ракетные стратеги продолжается. И это гарантирует соответствие
            современным
            требованиям одного из компонентов российской ядерной триады — дальних бомбардировщиков-ракетоносцев.</p>
    </div>
</div>
{% endblock %}